{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-md-6">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<div class="text-center">
					<img class="mb-n4 text-center" src="https://pbs.twimg.com/profile_images/1209432690/logo_400x400.jpg" alt="" width="150" height="150"/>
				</div>			
				<h1 class="h3 mb-3 font-weight-normal">Inicio de Sesion</h1>
				<label for="inputCorreo">Correo</label>
				<input type="text" name="correo" id="inputCorreo" class="form-control mb-3" autocomplete="username" required autofocus>
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="btn btn-lg btn-primary" type="submit">
					Ingresar
				</button>
				<a href = "{{path('app_register')}}" class="btn btn-lg btn-outline-success" role="button">Registrarse</a>
			</form>
		</div>
	</div>

{% endblock %}
