{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Nuevo Sistema de Incidencia ✅</h1>
    <a href = "{{path('app_login')}}" class="btn btn-lg btn-primary" role="button">Login</a>
</div>
{% endblock %}
