{% extends 'base.html.twig' %}

{% block title %}Hello DashBoardController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		{% if is_granted("ROLE_RESIDENTE") %}
            <a href="{{path('app_login')}}" class="btn btn-lg btn-primary" role="button">RESIDENTE</a>
        {% endif %}
		{% if is_granted("ROLE_SEGURIDAD") %}
            <a href="{{path('app_login')}}" class="btn btn-lg btn-primary" role="button">SEGURIDAD</a>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{path('app_login')}}" class="btn btn-lg btn-primary" role="button">ADMIN</a>
        {% endif %}
	</div>
{% endblock %}
